<form>
  <label>Title
  <input type="text" name="form[title]" value="">
  </label>
  <br>
  <label>URL
  <input type="text" name="form[url]" value="">
  </label>
  <br>
  <button>Submit</button>
</form>
