<ul>
<% user.errors.full_messages.each do |msg| %>
  <li> <%= msg %> </li>
<% end %>
</ul>

<form action="<%=path%>" method="post">
  <label for="username">Username</label>
  <input id="username" type="text" name="user[user_name]" value="<%= user.user_name %>">
  <br>
  <label for="password">Password</label>
  <input id="password" type="password" name="user[password]" value="">

  <button><%= button %></button>
</form>
