/* PHASE 8: Thumbs */
.thumb {
  display: block;
}

.thumb > ul > li {
  display: block;
  position: relative;
  border: 1px solid #000;
  border-radius: 5px;
  float: left;
  width: 58px;
  height: 58px;
  margin-bottom: 10px;
}

.thumb > ul li:nth-child(3n+2) {
  margin-left: 10px;
  margin-right: 10px;
}

.thumb a:hover:before {
  display: block;
  position: absolute;
  top: -30px;
  font-size: 12px;
  color: #fff;
  padding: 5px;
  background: #000;
  border-radius: 5px;
  content: " " attr(title) " ";
  left: 50%;
  transform: translateX(-50%);
}

.thumb a:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 8px solid black;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
