
<button id="follow-button" name="button"
        class="follow-toggle"
        data-user-id="<%= @user.id %>"
        data-initial-follow-state="unfollowed"></button>

<script charset="utf-8">
  $(function () {
    $("button.follow-toggle").followToggle();
  });
</script>
